.container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
}

.form-data {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust the width to your preference */
    max-width: 900px; /* Adjust the max-width to your preference */
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-section {
    flex: 1;
    padding: 20px;
}

.form-row {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-appointment {
    background-color: #28a745;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    margin: 0 0 20px 0;
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin-right: 10px;
}

/* dropdown list */

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    flex-basis: 30%; /* Ayusin ang lapad ng label */
    margin-right: 10px;
}

.form-row select {
    flex-grow: 1; /* Mapunan ang natitirang espasyo */
}

.center-button {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

  .sending-message {
    background-color: #eeeef6;
    color: #0b0a0a;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .sending-message textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

