body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    position: absolute;
    top: 0;
    left: 560px;
    padding: 20px; /* Adjust the padding as needed */
}

.navbar ul {
    list-style: none;
    margin: 10px;
}

.navbar li {
    display: inline;
    margin: 0 10px 20px;
    padding: 0 10px 0 10px;
    
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.contact-2-page {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

#button {
    background-color: #0077FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

#button:hover {
    background-color: #0055CC;
}
