/* Common styles */
.col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-data {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  /* Headings and text styles */
  h3,
  h6,
  p {
    color: #333;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Form row styles */
  .form-row {
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Label styles */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  /* Input, textarea, select styles */
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  /* Button styles */
  button,
  input[type="submit"] {
    background-color: #68b2e7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  /* Active button styles */
  button.active {
    background-color: #4583a0;
  }
  
  /* Sending message styles */
  .sending-message {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Textarea inside the sending message styles */
  .sending-message textarea {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    h3,
    h6,
    p {
      font-size: 16px;
    }
  
    input,
    textarea,
    select {
      padding: 8px;
    }
  
    button,
    input[type="submit"] {
      padding: 8px 12px;
    }
  }

  .center-button {
    text-align: center;
    margin: 0 auto; /* This will center the block element horizontally */
  }

  .center-button input[type="submit"] {
    width: 290px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    padding: 1px;
}

  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .checkbox-item {
    width: 90px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    margin-right: 20px;
    margin-bottom: 10px;
}
  
  .checkbox-input {
    margin-right: 5px;
  }

   form {
      background-color: #f4f4f4;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .container {
      text-align: left;
  }

  .form-control {
    width: 100%; /* Adjust the width as needed */
    padding: 10px; /* Adjust the padding as needed */
    margin-bottom: 15px; /* Adjust the margin as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Border radius for rounded corners */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
}

/* Additional css design for file image upload */

#drag-and-drop-container {
  position: relative;
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#drag-and-drop-container.hover {
  border-color: #007bff;
}

#drag-and-drop-container label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}


  

  

  
  